@{
    ViewBag.Title = "About";
}
<body style="background-color: rgba(100, 115, 71, 0.1);">
    <h2 style="font-size:30px;">About Us</h2>
    <h3>
        
    </h3>
    <p style="font-size:17px;">
        SAYDO (South African Youth Development Organization) is a registered non-profit and a non-political organization
        under the Department of Social Development established to support the youth, especially from the rural area, to develop their in-born talents in sports, arts, literature etc, and at the same time use their talents and ability for the goodness and benefit of the society.
    <p style="font-size:17px;">
        SAYDO focuses and works on five major areas namely: 1. Education 2. Sports 3. Environment 4. Health 5. Arts
        The organization intends to conduct various empowerment workshops for educators and learners; counseling and also psychological services to learners and educators. It will further provide assistance to schools to form various groups and clubs as part of social development; providing necessary supports through online (online programs); assisting schools to draft and restructure the environment of school; provide health and wellness support (through online newsletters); to conserve and bring awareness about the importance of the environment and promote planting of plants and trees; preserving and reintroducing the traditional arts of South Africa, and also working with international youth and social development organizations and centers.
   
    <p style="font-size:17px;">
        Since SAYDO has noticed that people fail to keep-up with the environment and as a result it leads to environmental problems which will affect their lives adversely even though some of the effects may be invisible today but fatal in future. The environment itself loses its value as a result of a failure to protect the nature. Most of the cultural values are being neglected and most of the people are experiencing social and psychological problems in their daily lives. Most of the South African youth need empowerment that will contribute into the improvement and development of their skills in order to live a healthy and better life. SAYDO has started addressing the above mentioned challenges faced by the South African people.
    </p>
 
        
</body>