@{
    ViewBag.Title = "Contact";
}
<body style="background-color: rgba(100, 115, 71, 0.1);">
    <h2 style="font-size:30px;">Contact Us</h2>
    <p>

    </p>
    <h3>

    </h3>
    <p>
        <img src="~/Image/7693272_facebook_social media_logo_apps_icon.png" />
        <a style="font-size:18px;" href="https://www.facebook.com/South-African-Youth-Development-Organization-489899037816644/?ref=page_internal">https://www.facebook.com/South-African-Youth-Development-Organization</a>

    </p>

</body>
