@{
    ViewBag.Title = "Home Page";
}
<body style="background-color: rgba(100, 115, 71, 0.1);">
    <h1>
    </h1>
    <img src="~/Image/SAYDO.jpeg" />
    <p>
    </p>
    <b>
        <p style="font-size:40px;">South African Youth Development Organization
        </p>
    </b>
    <p>

    </p>
    <p style="font-size:30px;">Nonprofit Organization</p>
</body>